.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
width:80%;
  background-color: #90ee90;
}

  .box {
    border: 1px solid black; /* Creates a border around the div */
    padding: 40px; /* Adds some space inside the box */
    margin: 40px; /* Adds some space outside the box */
    width: 1300px; /* Specifies the width of the box */
    height: 1200px;


}

.data-container {
    width: 1300px;      /* Adjust the width as needed */
    height: 500px;     /* Adjust the height as needed */
    border: 1px solid black; /* Optional: adds a border to the container */
    overflow: auto;    /* Ensures that content exceeding the container size will be scrollable */
}

.button1{

margin-left: 50px;
margin-right: 50px;

  background-color: blue; /* Sets the background color to blue */
  color: white; /* Sets the text color to white */
  /* Other styling attributes like padding, border, etc. */
  padding: 10px 20px; /* Example padding */
  border: none; /* No border for the button */
  border-radius: 5px; /* Optional: rounded corners */
  cursor: pointer; /* Changes the mouse cursor to a pointer on hover */
  font-size: 16px;
}
.button2{

margin-left: 100px;
margin-right: 100px;


  background-color: blue; /* Sets the background color to blue */
  color: white; /* Sets the text color to white */
  /* Other styling attributes like padding, border, etc. */
  padding: 10px 20px; /* Example padding */
  border: none; /* No border for the button */
  border-radius: 5px; /* Optional: rounded corners */
  cursor: pointer; /* Changes the mouse cursor to a pointer on hover */
  font-size: 16px;

}
.button3{

margin-left: 100px;
margin-right: 50px;

  background-color: blue; /* Sets the background color to blue */
  color: white; /* Sets the text color to white */
  /* Other styling attributes like padding, border, etc. */
  padding: 10px 20px; /* Example padding */
  border: none; /* No border for the button */
  border-radius: 5px; /* Optional: rounded corners */
  cursor: pointer; /* Changes the mouse cursor to a pointer on hover */
  font-size: 16px;


}
.button4{

margin-left: 150px;
margin-right: 100px;
margin-top: 50px;

  background-color: blue; /* Sets the background color to blue */
  color: white; /* Sets the text color to white */
  /* Other styling attributes like padding, border, etc. */
  padding: 10px 20px; /* Example padding */
  border: none; /* No border for the button */
  border-radius: 5px; /* Optional: rounded corners */
  cursor: pointer; /* Changes the mouse cursor to a pointer on hover */
  font-size: 16px;


}

.button5{
margin-left: 80px;

  background-color: blue; /* Sets the background color to blue */
  color: white; /* Sets the text color to white */
  /* Other styling attributes like padding, border, etc. */
  padding: 10px 20px; /* Example padding */
  border: none; /* No border for the button */
  border-radius: 5px; /* Optional: rounded corners */
  cursor: pointer; /* Changes the mouse cursor to a pointer on hover */
  font-size: 16px;
}
.table {
      width: 100%;
      border-collapse: collapse;
    "

    }

    th, td {
      border: 1px solid black;
      padding: 5px;
      text-align: center;


    }

    .button6{

    margin-left: 50px;
margin-right: 100px;
margin-top: 50px;

  background-color: blue; /* Sets the background color to blue */
  color: white; /* Sets the text color to white */
  /* Other styling attributes like padding, border, etc. */
  padding: 10px 20px; /* Example padding */
  border: none; /* No border for the button */
  border-radius: 5px; /* Optional: rounded corners */
  cursor: pointer; /* Changes the mouse cursor to a pointer on hover */
  font-size: 16px;
    }
.dolfijn{
    margin-left: 300px;
margin-right: 100px;
margin-top: 50px;
margin-bottom: 50px;
}

.paragraph{
font-size: 32px;

background-color: white;
}

.paragraph-box{
 width: 50vw;
 height: 25vh;
 background-color: white;
}

footer {color: #fff;
    background-color:#004df5;
    font-family: Nunito,sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 1.33;}

.top_footer {
    background-color: rgb(22, 22, 130);display: flex;}

.text_top_footer{margin-left: 40%;}

.part_off{
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 3.7px;
    line-height: 24px;
    margin-left: 0;}

.company{
    font-family: Zilla Slab,serif;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 24.32px;
    text-size-adjust: 100%;}

.adres{
    font-size: 18px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 23.94px;
    text-size-adjust: 100%;
}

.linkedin {align-items: center;
    background: #004df5;
    border-radius: 10px;
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;}

.twitter{align-items: center;
    background: #004df5;
    border-radius: 10px;
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;}

.facebook {align-items: center;
    background: #004df5;
    border-radius: 10px;
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;}

.bottom_footer {
    align-items: center;
    background-color: #004df5;
    display: flex;
    text-align: center;
    font-size: 16px;
    min-height: 64px;
    padding: 10px 20px;
    justify-content: center;}

.spacing_text {
    padding: 0 58px;
    max-width: 1145px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 0 auto;}

.text_footer {
    display: flex;
    justify-content: space-between;}

a {color: #fff;text-decoration: none;}