footer {color: #fff;
    background-color:#004df5;
    font-family: Nunito,sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 400;
    line-height: 1.33;}

.top_footer {
    background-color: rgb(22, 22, 130);display: flex;}

.text_top_footer{margin-left: 40%;}

.part_off{
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 3.7px;
    line-height: 24px;
    margin-left: 0;}

.company{
    font-family: Zilla Slab,serif;
    font-size: 16px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 24.32px;
    text-size-adjust: 100%;}

.adres{
    font-size: 18px;
    font-stretch: 100%;
    font-style: normal;
    font-weight: 400;
    line-height: 23.94px;
    text-size-adjust: 100%;
}

.linkedin {align-items: center;
    background: #004df5;
    border-radius: 10px;
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;}

.twitter{align-items: center;
    background: #004df5;
    border-radius: 10px;
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;}

.facebook {align-items: center;
    background: #004df5;
    border-radius: 10px;
    display: flex;
    height: 50px;
    width: 50px;
    justify-content: center;}

.bottom_footer {
    align-items: center;
    background-color: #004df5;
    display: flex;
    text-align: center;
    font-size: 16px;
    min-height: 64px;
    padding: 10px 20px;
    justify-content: center;}

.spacing_text {
    padding: 0 58px;
    max-width: 1145px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 0 auto;}

.text_footer {
    display: flex;
    justify-content: space-between;}

a {color: #fff;text-decoration: none;}


.logo_size {
    display: inline;
    width: 10%;
    height: 10%;
    }
.center_2 {
  margin: auto;
  width: 20%;
  padding: 10px;
}
