<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta charset="UTF-8"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>testgpt</title>
    <link rel="stylesheet" href="aanmaken.css">
</head>


<body>
    <main>
        <!--date_created?-->
        <form action="/databases/testgpt.db" id="template">
            <p id="docent">Docent <input type="number" readonly="readonly" name="teacher_id" /></p>
            <p id="openbaar">Openbaar <input type=checkbox name="is_public" /></p>
            <p id="titel">Titel <input type="text" name="title" /></p>
            <p id="notitie"><input type="text" name="note" /></p>
            <p id="bron">Bron <input type="text" name="note_source" /></p>
            <p id="categorie">Categorie <input type="number" name="category_id" /></p>
            <input type="submit" value="opslaan" />
        </form>
    </main>
</body>

</html>