<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="/static/lay_out_inlogscherm/inlogscherm.css">
    <title>Inlog database</title>
</head>
<body style="background-color: RGB(253, 255, 254)">

    <a href="https://www.google.com/">
    <img title="link naar google" class="logo_size" src="/static/images/test_correct_logo.jpg">
    </a>


    <h1 class="center_2" ><b>Maak een account aan </b></h1>
    <form class="center_2" action="/index" method="post" target="_self">

      <div>
        <label for="new_username"></label>
        <input  type="text" id="new_username" name="new_username" placeholder="gebruikersnaam" required
               oninvalid="setCustomValidity('ongeldige gebruikersnaam')"
                oninput="setCustomValidity('')">

        <br>
        <br>

        <label for="new_wachtwoord"></label>
        <input type="password" id="new_wachtwoord" name="new_wachtwoord" placeholder="wachtwoord" required
        oninvalid="setCustomValidity('ongeldig wachtwoord')"
        oninput="setCustomValidity('')">

          <br>
          <br>

        <label for="naam_docent"></label>
        <input type="text" id="naam_docent" name="naam_docent" placeholder="naam van docent" required
        oninvalid="setCustomValidity('ongeldige naam')"
        oninput="setCustomValidity('')">

          <br>
          <br>

        <label for="aanmaakdatum"></label>
        <input type="date" id="aanmaakdatum" name="aanmaakdatum" required
        oninvalid="setCustomValidity('ongeldige tijd')"
        oninput="setCustomValidity('')">

          <br>
          <br>

        <input id="Account_aanmaken" style="background-color: RGB(26, 196, 74)" type="submit" value="Account aanmaken">


          <br>
          <br>

      </div>
    </form>
    <br>
    <br>
    <br>
    <br>
    <br>
    {% include 'footer_inlogscherm_account_aanmaken.html' %}

</body>
</html>
