<!-- Laat dit er in staan alstublieft :) zonder dit werkt de inlogschermen en account aanmaken niet-->
<footer>
    <div class="top_footer">

        <div class="text_top_footer">
            <div class="test-correct">
                <img src="https://www.test-correct.nl/hubfs/raw_assets/public/test-correct/images/testcorrect-large-logo.svg"
                    alt="Test Correct logo">
                <span class="part_off">onderdeel van</span>
                <span class="company">The Teach & Learn Company</span>
            </div>
            <div class="adres">
                <p>
                    Dotterbloemstraat 25, Rotterdam <br>
                    T: 010 7171 171 <br>
                    E: info@test-correct.nl <br>
                </p>
            </div>
        </div>

        <div class="socials">
            <div class="linkedin">
                <a href="https://www.linkedin.com/company/the-teach-%26-learn-company/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32">
                        <path
                            d="M7.264 10.868H.404v20.47h6.861v-20.47zm.452-6.331C7.671 2.528 6.227 1 3.881 1 1.533 1 0 2.528 0 4.537 0 6.5 1.488 8.073 3.79 8.073h.045c2.392 0 3.881-1.572 3.881-3.536zm10.204 26.8v-11.43c0-.61.045-1.223.226-1.66.496-1.222 1.625-2.488 3.52-2.488 2.482 0 3.475 1.877 3.475 4.629v10.95H32V19.6c0-6.288-3.384-9.213-7.897-9.213-3.7 0-5.325 2.05-6.228 3.448h.046v-2.968h-6.86c.09 1.92 0 20.47 0 20.47h6.86z"
                            fill="#FFF" fill-rule="nonzero"></path>
                    </svg></a>
            </div>
            <div class="twitter">
                <a href="https://twitter.com/testcorrect">
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32">
                        <path
                            d="M10.063 28.806c12.076 0 18.68-9.929 18.68-18.54 0-.281 0-.562-.019-.842A13.245 13.245 0 0032 6.051c-1.198.527-2.47.873-3.77 1.026a6.558 6.558 0 002.886-3.604c-1.29.759-2.7 1.293-4.17 1.581a6.606 6.606 0 00-7.887-1.282 6.501 6.501 0 00-3.3 7.225A18.688 18.688 0 012.227 4.189a6.492 6.492 0 002.033 8.698 6.546 6.546 0 01-2.98-.815v.082c0 3.102 2.204 5.774 5.267 6.388a6.61 6.61 0 01-2.964.112c.86 2.654 3.325 4.472 6.133 4.525A13.242 13.242 0 010 25.879a18.68 18.68 0 0010.063 2.922"
                            fill="#FFF" fill-rule="nonzero"></path>
                    </svg></a>
            </div>
            <div class="facebook">
                <a href="https://www.facebook.com/TestCorrect">
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="32">
                        <path
                            d="M9.913 32h-6.61V15.998H0v-5.514h3.303v-3.31C3.303 2.673 5.168 0 10.466 0h4.412v5.515H12.12c-2.063 0-2.198.77-2.198 2.209l-.009 2.76h4.996l-.585 5.514h-4.41V32z"
                            fill="#FFF" fill-rule="nonzero"></path>
                    </svg></a>
            </div>
        </div>
    </div>

    <div class="bottom_footer">
        <div class="spacing_text">
            <div class="text_B_footer">
                <div>&#169; 2023 Test-Correct</div>
                <div><a
                        href="https://support.test-correct.nl/hubfs/Downloads%20Documenten%20Website…-The-Teach-and-Learn-Company-BV-Test-Correct-versie-20210618.pdf?hsLang=nl">Algemene
                        voorwaarden</a></div>
                <div><a
                        href="https://www.test-correct.nl/hubfs/Downloads%20Documenten%20Website/20231019_TLC%20Privacybeleid.pdf?hsLang=nl">Privacy
                        beleid</a></div>
                <div><a
                        href="https://www.test-correct.nl/hubfs/Downloads%20Documenten%20Website/20231009_TLC%20Responsible%20Disclosure-English%20-%20Dutch.pdf?hsLang=nl">Responsible
                        disclosure</a></div>
                <div><a href="https://cookiepedia.co.uk/giving-consent-to-cookies">Cookie beleid</a></div>
            </div>
        </div>
    </div>
</footer>