<!DOCTYPE html>
<html lang="en">

<head>
    <!-- <meta charset="UTF-8"> -->
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>{{page_title}}</title>
    <link rel="stylesheet" href="aanmaken.css">
</head>


<body>
    <main>
        <!--date_created?-->
            <p id="docent">Docent {{note.teacher_id}}</p> 
            <p id="openbaar">Openbaar {{note.is_public}}</p>
            <p id="titel">Titel {{note.title}}</p>
            <p id="notitie"> {{note.note}}</p>
            <p id="bron">Bron {{note.note_source}}</p>
            <p id="categorie">Categorie {{note.omschrijving}}</p>
    </main>
</body>

</html>